/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

* {
    font-family: 'Amazon Ember', sans-serif, Verdana, Tahoma;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width:10px;
}

::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
}