<div class="col">
    <div class="card h-100" (click)="null">
      <img src="https://images.rappi.com/restaurants_background/kfc1-1657753564446.jpg?e=webp&q=40&d=300x300"
        class="card-img-top" alt="...">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">KFC</h5>
          <button type="button" class="btn btn-outline-primary btn-sm">¡Haz tu pedido!</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">

          <small class="text-muted">
            <i class="fa fa-clock-o fa-sm"></i>
            35 - 45 min
          </small>

          <div class="d-flex justify-content-between">
            <span class="badge rounded-pill bg-info text-dark">
              <i class="fa fa-tag fa-sm"></i>
              Restaurantes
            </span>

            <span class="badge rounded-pill bg-warning text-dark ms-1">
              <i class="fa fa-star fa-sm"></i>
              4.3
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>