<div class="col">
  <div class="card h-100" (click)="null">
    <img [src]="tienda.image" class="card-img-top" [alt]="tienda.name">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{tienda.name}}</h5>
        <button type="button" class="btn btn-outline-primary btn-sm">¡Haz tu pedido!</button>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">

        <small class="text-muted">
          <i class="fa fa-clock-o fa-sm"></i>
          {{tienda.waitTime}}
        </small>

        <div class="d-flex justify-content-between">
          <span class="badge rounded-pill bg-info text-dark">
            <i class="fa fa-tag fa-sm"></i>
            {{tienda.tag}}
          </span>

          <span class="badge rounded-pill bg-warning text-dark ms-1">
            <i class="fa fa-star fa-sm"></i>
            {{tienda.points}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>