<div class="m-5">
    <div class="mb-3">
        <h3 class="d-flex justify-content-center">
            Carrito de compras
        </h3>
        <span class="text-muted d-flex justify-content-center">¡Tienes {{carrito.cartItems.length}} productos!</span>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 justify-content-center">
        <ul class="list-group w-75">
            <li class="list-group-item list-group-item-action d-flex gap-3 py-3"
                *ngFor="let cartItem of carrito.cartItems;let indice=index">
                <img src={{cartItem.item.image}} alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">{{cartItem.item.name}}</h6>
                        <small class="opacity-80 text-nowrap">Cantidad: {{cartItem.amount}}</small>
                        <p class="mb-0 opacity-75">Precio total:{{cartItem.item.price*cartItem.amount}} $</p>
                        <span class="badge rounded-pill text-bg-warning info-tienda"
                            routerLink='/tienda/{{cartItem.storeName}}/{{cartItem.storeId}}'>
                            <i class="fa fa-info-circle fa-sm"></i>
                            {{cartItem.storeName}}
                        </span>
                    </div>
                    <div class="d-flex gap-2 flex-row align-items-start">
                        <small class="opacity-50 text-nowrap">Precio unidad: {{cartItem.item.price}} $</small>

                        <div class="input-group">
                            <input #porSacar type="number" class="form-control form-control-sm" placeholder="Cantidad"
                                min='1' max={{cartItem.amount}} value="1" min="1" aria-describedby="button">
                            <button class="btn btn-outline-warning btn-sm" type="button" id="button"
                                (click)="sacar(indice,porSacar.value)">Sacar</button>
                        </div>

                        <button class="btn btn-sm btn-danger" (click)="eliminar(indice)">
                            <i class="fa fa-times fa-sm"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
        <h1 class="mb-0">Total a pagar:{{carrito.toPay}} $</h1>
        <button class="btn btn-outline-success btn-sm" type="button" id="button">Pagar</button>