<div class="m-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <label for="newEmail" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control mb-2" id="newEmail" placeholder="Correo electrónico">
                        <input type="email" class="form-control mb-2" id="confirmEmail"
                            placeholder="Confirmar correo electrónico">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <label for="currentPassword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control mb-2" id="currentPassword"
                            placeholder="Contraseña actual">
                        <input type="password" class="form-control mb-2" id="newPassword"
                            placeholder="Nueva contraseña">
                        <input type="password" class="form-control mb-2" id="confirmPassword"
                            placeholder="Confirmar contraseña">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>