<div class="m-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <label for="newEmail" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="newEmail" placeholder="Correo electrónico"
                            [(ngModel)]="newEmail" [ngModelOptions]="{standalone: true}" required
                            (blur)="analyzeNewEmail()" (focus)="invalidNewEmail = false">
                        <div class="msg-error" [hidden]="!invalidNewEmail">
                            El correo electrónico ingresado es inválido.
                        </div>
                        <input type="email" class="form-control mt-2" id="confirmEmail"
                            placeholder="Confirmar correo electrónico" [(ngModel)]="confirmEmail"
                            [ngModelOptions]="{standalone: true}" required (blur)="analyzeConfirmEmail()"
                            (focus)="invalidConfirmEmail = false">
                        <div class="msg-error" [hidden]="!invalidConfirmEmail">
                            Los correos no coinciden.
                        </div>
                        <button class="btn btn-primary mt-2" type="submit" [disabled]="!verifyFormEmail()"
                            (click)="submitFormEmail()">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <label for="currentPassword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="currentPassword" placeholder="Contraseña actual"
                            [(ngModel)]="currentPassword" [ngModelOptions]="{standalone: true}" required
                            (blur)="analyzeCurrentPassword()" (focus)="invalidCurrentPassword = false">
                        <div class="msg-error" [hidden]="!invalidCurrentPassword">
                            La contraseña ingresada es incorrecta.
                        </div>
                        <input type="password" class="form-control mt-2" id="newPassword" placeholder="Nueva contraseña"
                            [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" required
                            (blur)="analyzeNewPassword()" (focus)="invalidNewPassword = false">
                        <div class="msg-error" [hidden]="!invalidNewPassword">
                            La contraseña debe tener mínimo 8 caracteres.
                        </div>
                        <input type="password" class="form-control mt-2" id="confirmPassword"
                            placeholder="Confirmar contraseña" [(ngModel)]="confirmPassword"
                            [ngModelOptions]="{standalone: true}" required (blur)="analyzeConfirmPassword()"
                            (focus)="invalidConfirmPassword = false">
                        <div class="msg-error" [hidden]="!invalidConfirmPassword">
                            Las contraseñas no coinciden.
                        </div>
                        <button class="btn btn-primary mt-2" type="submit" [disabled]="!verifyFormPassword()"
                            (click)="submitFormPassword()">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>